.signup-prompt {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 3rem;
	word-spacing: 0.5rem;
	font-weight: 700;
	text-align: center;

	span {
		text-transform: capitalize;
	}
	.success {
		color: #03dc85;
	}
	.failure {
		color: #b12144;
	}
	button {
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		border: 2px solid #0c161d;
		color: #0c161d;
		padding: 0.5rem;
		font-size: 1.25rem;
		letter-spacing: 1px;
		font-weight: 700;
	}
	button:hover {
		color: white;
		background-color: #0c161d;
		border: 2px solid black;
	}
}

@media only screen and (max-width: 300px) {
	.signup-prompt {
		font-size: 2rem;
	}
}
